$black: hsl(0, 0, 15%);
$blue: rgb(238,248,253);
$gold: rgb(249,233,233);

html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  color: $black;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    letter-spacing: .08ch;
    line-height: 1.5;
}

.container {
  margin: 2rem auto 0;
  width: 700px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  address {
    font-style: normal;
  }

  .contact a {
    font-size: 1rem;
    color: $black;
    transition: .15s;
  }
  .contact a:hover {
    color: $gold;
    transition: .15s;
  }
}

.name {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

.header-right {
  margin: 0 0 0 2rem;
}

.avatar {
  border-radius: 10px;
  object-fit: contain;
  margin-left: .5rem;
  width: 50%;
}

main {
  margin-top: 2rem;
}
.main-header {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
  padding-left: .5rem;
  text-transform: none;
}

.job-section {
  margin: 0 0 2.5rem 0;
  span {
    display: block;
    padding-left: .5rem;
  }
}
.job {
  align-items: baseline;
  background: $blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .25rem .5rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.employer {
  font-size: 1rem;
  margin: 0;
}
.job-title {
  font-size: 1rem;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li:nth-child(odd) {
  background: hsl(0,0,95%);
}

li {
  padding: .25rem .5rem;
  margin: .5rem 0;
}

@media (max-width: 600px) {
  header {
    align-items: center;
    flex-direction: column;
  }

  .avatar {
    border-radius: 50%;
  }
  .header-right {
    margin: 0;
  }

  .container {
    width: 320px;
  }
}
