$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: hsl(0,0,14%);
$font-size: 1rem;
$line-height: 1.5;
$font-family: Arial, sans-serif;

body {
  background: #fff;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  margin: 0px;
  padding: 0px;
}

header {
  grid-area: a;
  margin: 0 auto;

  h1 {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 5rem;
    font-weight: bold;
  }
}

aside {
  grid-area: b;
  margin: 0 auto;

  p {
    max-width: 400px;
    padding: 0 .5rem;
  }
}

main {
  grid-area: c;

  .maingrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 0 0 4rem 0;
  }

  .gray {
    background: rgb(250,250,250);
  }

  figure {
   align-self: center;
   display: block;
   justify-self: center;
   margin: 0;
   max-width: 400px;
  }

  h1 {
    background: rgb(158, 205, 174);
    color: #fff;
    font-size: 3rem;
    padding: 0 0 0 1.5rem;
  }
}

main img {
  display: inline-block;
  max-width: 100%;
}

footer {
  color: hsl(0°, 0%, 75%);
  font-family: sans-serif;
  font-weight: bold;
  grid-area: d;
  margin: 2rem auto;
  text-align: center;

  .svg {
    margin: 0 0 1rem;

    #github {
      transition: .25s;
    }
    #github:hover {
      fill: #bfbfbf;
      transition: .5s;
    }
  }

}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px auto auto 40px;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
  margin: 0 auto 6rem;
}

  header {
    h1 {
      font-size: 2rem;
    }
  }


/*
@media screen and (min-width: 1400px) {
    .container {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 220px auto 160px;
    grid-template-areas:
      "a a b b"
      "c c c c"
      "d d d d";
    margin: 0 auto;
    width: 1400px;
  }
}

@media screen and (max-width: 1280px) {
    .container {
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 180px auto 80px;
    grid-template-areas:
      "a a b b"
      "c c c c"
      "d d d d";
    margin: 0 auto;
    width: 960px;
  }

  header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 680px) {
      .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px auto auto 40px;
        grid-template-areas:
          "a"
          "b"
          "c"
          "d";
        margin: 0 10px;
      }

      header {
        h1 {
          font-size: 2rem;
        }
      }
      main {
        display: grid;
        grid-area: c;
        grid-template-columns: 100%;
        grid-gap: 1rem;

        figure {
          max-width: 100%;
        }

        img {
          max-width: 100%;
        }
  }
}
*/
